Repository openid/publication, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openid/wg-authzen-editors, @openid/secretaryandteam, @openid/wg-abconnect-editors, @openid/wg-dcp-editors, @openid/wg-ekycida-editors, @openid/wg-fapi-editors, @openid/wg-ipsie-editors, @openid/wg-sharedsignals-editors, @openid/wg-igov-editors

.github/CODEOWNERS:

/authzen/*.html   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.xml   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.txt   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.md   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.zip   @openid/wg-authzen-editors @openid/secretaryandteam

/connect/*.html   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.xml   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.txt   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.md   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.zip   @openid/wg-abconnect-editors @openid/secretaryandteam

/dcp/*.html   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.xml   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.txt   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.md   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.zip   @openid/wg-dcp-editors @openid/secretaryandteam

/ekycida/*.html   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.xml   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.txt   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.md   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.zip   @openid/wg-ekycida-editors @openid/secretaryandteam

/fapi/*.html   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.xml   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.txt   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.md   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.zip   @openid/wg-fapi-editors @openid/secretaryandteam

/ipsie/*.html   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.xml   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.txt   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.md   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.zip   @openid/wg-ipsie-editors @openid/secretaryandteam

/sharedsignals/*.html   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.md   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors @openid/secretaryandteam

/igov/*.html   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.xml   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.txt   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.md   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.zip   @openid/wg-igov-editors @openid/secretaryandteam

Fixed capitalization and numbering
  fapi/openid-financial-api-part-1-1_0-11.html
  fapi/openid-financial-api-part-1-1_0-11.md
  fapi/openid-financial-api-part-1-1_0-11.zip
Owners: @openid/wg-fapi-editors, @openid/secretaryandteam

Preview for PR #169
  PREVIEW-DO-NOT-USE/pr-169/openid-financial-api-part-1-1_0-11.html
Owners: none

Ephemeral Sub -02 Publication release candidate
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.html
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.md
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Ephemeral-sub Equation rendering error fix
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.html
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.md
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Preview for PR #170
  PREVIEW-DO-NOT-USE/pr-170/openid-connect-ephemeral-subject-identifier-1_0-02.html
  PREVIEW-DO-NOT-USE/pr-170/openid-financial-api-part-1-1_0-11.html
Owners: none

Replaced remaining "visits" with "authentication results"
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.html
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.md
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Preview for PR #170
  PREVIEW-DO-NOT-USE/pr-170/openid-connect-ephemeral-subject-identifier-1_0-02.html
Owners: none

Remove preview for PR #170
  PREVIEW-DO-NOT-USE/pr-170/openid-connect-ephemeral-subject-identifier-1_0-02.html
  PREVIEW-DO-NOT-USE/pr-170/openid-financial-api-part-1-1_0-11.html
Owners: none

-02
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.html
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.md
  connect/openid-connect-ephemeral-subject-identifier-1_0-02.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Preview for PR #172
  PREVIEW-DO-NOT-USE/pr-172/openid-connect-ephemeral-subject-identifier-1_0-02.html
Owners: none

Remove preview for PR #172
  PREVIEW-DO-NOT-USE/pr-172/openid-connect-ephemeral-subject-identifier-1_0-02.html
Owners: none

Remove preview for PR #169
  PREVIEW-DO-NOT-USE/pr-169/openid-financial-api-part-1-1_0-11.html
Owners: none

openid-financial-api-part-1-1_0-11.html openid-financial-api-part-1-1_0-11.md openid-financial-api-part-1-1_0-11.zip
  sync/specs/openid-financial-api-part-1-1_0-11.html
  sync/specs/openid-financial-api-part-1-1_0-11.md
  sync/specs/openid-financial-api-part-1-1_0-11.zip
Owners: none

Propose FAPI 2 Part 2 Draft -11
  fapi/openid-financial-api-part-2-1_0-11.html
  fapi/openid-financial-api-part-2-1_0-11.md
  fapi/openid-financial-api-part-2-1_0-11.zip
Owners: @openid/wg-fapi-editors, @openid/secretaryandteam

Preview for PR #173
  PREVIEW-DO-NOT-USE/pr-173/openid-financial-api-part-2-1_0-11.html
Owners: none

Accordion menu fix.
  fapi/openid-financial-api-part-2-1_0-11.zip
  fapi/openid-financial-api-part-2-1_0.html
Owners: @openid/wg-fapi-editors, @openid/secretaryandteam

Preview for PR #173
  PREVIEW-DO-NOT-USE/pr-173/openid-financial-api-part-2-1_0.html
Owners: none

Remove erroneous file without draft number on end
  fapi/openid-financial-api-part-2-1_0.html
Owners: @openid/wg-fapi-editors, @openid/secretaryandteam

Preview for PR #173
  PREVIEW-DO-NOT-USE/pr-173/openid-financial-api-part-2-1_0.html
Owners: none
