Repository openid/publication, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openid/wg-authzen-editors, @openid/secretaryandteam, @openid/wg-abconnect-editors, @openid/wg-dcp-editors, @openid/wg-ekycida-editors, @openid/wg-fapi-editors, @openid/wg-ipsie-editors, @openid/wg-sharedsignals-editors, @openid/wg-igov-editors

.github/CODEOWNERS:

/authzen/*.html   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.xml   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.txt   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.md   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.zip   @openid/wg-authzen-editors @openid/secretaryandteam

/connect/*.html   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.xml   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.txt   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.md   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.zip   @openid/wg-abconnect-editors @openid/secretaryandteam

/dcp/*.html   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.xml   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.txt   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.md   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.zip   @openid/wg-dcp-editors @openid/secretaryandteam

/ekycida/*.html   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.xml   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.txt   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.md   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.zip   @openid/wg-ekycida-editors @openid/secretaryandteam

/fapi/*.html   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.xml   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.txt   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.md   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.zip   @openid/wg-fapi-editors @openid/secretaryandteam

/ipsie/*.html   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.xml   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.txt   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.md   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.zip   @openid/wg-ipsie-editors @openid/secretaryandteam

/sharedsignals/*.html   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.md   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors @openid/secretaryandteam

/igov/*.html   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.xml   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.txt   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.md   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.zip   @openid/wg-igov-editors @openid/secretaryandteam

OID4VP 1.0 Final
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-final.html
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-final.md
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-final.zip
Owners: none

Manual change to html to add "Status: Final"
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-final.html
Owners: none

Add missing "1.0" to title of OID4VP final
  sync/specs/openid-4-verifiable-presentations-1_0-final.html
  sync/specs/openid-4-verifiable-presentations-1_0-final.md
  sync/specs/openid-4-verifiable-presentations-1_0.html
  sync/specs/openid-4-verifiable-presentations-1_0.md
Owners: none

Other VP 1.0 updates as per https://github.com/openid/OpenID4VP/pull/657
  sync/specs/openid-4-verifiable-presentations-1_0-final.html
  sync/specs/openid-4-verifiable-presentations-1_0-final.md
  sync/specs/openid-4-verifiable-presentations-1_0.html
  sync/specs/openid-4-verifiable-presentations-1_0.md
Owners: none

CAEP draft 5, RISC draft 3, and Shared Signals draft 5
  sharedsignals/openid-caep-1_0-05.html
  sharedsignals/openid-caep-1_0-05.md
  sharedsignals/openid-caep-1_0-05.txt
  sharedsignals/openid-risc-1_0-03.html
  sharedsignals/openid-risc-1_0-03.txt
  sharedsignals/openid-risc-1_0-03.xml
  sharedsignals/openid-sharedsignals-framework-1_0-05.html
  sharedsignals/openid-sharedsignals-framework-1_0-05.md
  sharedsignals/openid-sharedsignals-framework-1_0-05.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

Fix dates
  sharedsignals/openid-caep-1_0-05.html
  sharedsignals/openid-caep-1_0-05.md
  sharedsignals/openid-caep-1_0-05.txt
  sharedsignals/openid-risc-1_0-03.html
  sharedsignals/openid-risc-1_0-03.txt
  sharedsignals/openid-risc-1_0-03.xml
  sharedsignals/openid-sharedsignals-framework-1_0-05.html
  sharedsignals/openid-sharedsignals-framework-1_0-05.md
  sharedsignals/openid-sharedsignals-framework-1_0-05.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

Add licenses to all. Add security considerations to RISC
  sharedsignals/openid-caep-1_0-05.html
  sharedsignals/openid-caep-1_0-05.md
  sharedsignals/openid-caep-1_0-05.txt
  sharedsignals/openid-risc-1_0-03.html
  sharedsignals/openid-risc-1_0-03.txt
  sharedsignals/openid-risc-1_0-03.xml
  sharedsignals/openid-sharedsignals-framework-1_0-05.html
  sharedsignals/openid-sharedsignals-framework-1_0-05.md
  sharedsignals/openid-sharedsignals-framework-1_0-05.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

copy html and md
  ipsie/ipsie-common-requirements-00.html
  ipsie/ipsie-common-requirements-00.md
Owners: @openid/wg-ipsie-editors, @openid/secretaryandteam

version
  ipsie/ipsie-common-requirements-00.html
  ipsie/ipsie-common-requirements-00.md
Owners: @openid/wg-ipsie-editors, @openid/secretaryandteam

add 1.0 version
  ipsie/ipsie-common-requirements-1_0-00.html
  ipsie/ipsie-common-requirements-1_0-00.md
Owners: @openid/wg-ipsie-editors, @openid/secretaryandteam

british spelling of Acknowledgements
  ipsie/ipsie-common-requirements-1_0-00.html
  ipsie/ipsie-common-requirements-1_0-00.md
Owners: @openid/wg-ipsie-editors, @openid/secretaryandteam

ipsie-common-requirements-1_0-00.html ipsie-common-requirements-1_0-00.md ipsie-common-requirements-1_0.html ipsie-common-requirements-1_0.md
  sync/specs/ipsie-common-requirements-1_0-00.html
  sync/specs/ipsie-common-requirements-1_0-00.md
  sync/specs/ipsie-common-requirements-1_0.html
  sync/specs/ipsie-common-requirements-1_0.md
Owners: none

draft 17 of OID4VCI
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-17.html
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-17.md
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-17.zip
Owners: none

Add JARM errata 1 final
  sync/specs/oauth-v2-jarm-errata1.html
  sync/specs/oauth-v2-jarm-errata1.md
  sync/specs/oauth-v2-jarm-errata1.xml
Owners: none

Propose files for v1
  sharedsignals/openid-caep-1_0.html
  sharedsignals/openid-caep-1_0.md
  sharedsignals/openid-caep-1_0.txt
  sharedsignals/openid-risc-1_0.html
  sharedsignals/openid-risc-1_0.txt
  sharedsignals/openid-risc-1_0.xml
  sharedsignals/openid-sharedsignals-framework-1_0.html
  sharedsignals/openid-sharedsignals-framework-1_0.md
  sharedsignals/openid-sharedsignals-framework-1_0.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

Rename with -final
  sharedsignals/openid-caep-1_0-final.html
  sharedsignals/openid-caep-1_0-final.md
  sharedsignals/openid-caep-1_0-final.txt
  sharedsignals/openid-risc-1_0-final.html
  sharedsignals/openid-risc-1_0-final.txt
  sharedsignals/openid-risc-1_0-final.xml
  sharedsignals/openid-sharedsignals-framework-1_0-final.html
  sharedsignals/openid-sharedsignals-framework-1_0-final.md
  sharedsignals/openid-sharedsignals-framework-1_0-final.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

Remove history from RISC
  sharedsignals/openid-risc-1_0-final.html
  sharedsignals/openid-risc-1_0-final.txt
  sharedsignals/openid-risc-1_0-final.xml
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

VCI 1.0 Final
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-final.html
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-final.md
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-final.zip
Owners: none

Manual change to add 'Status: Final'
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-final.html
Owners: none

Updated version including https://github.com/openid/OpenID4VCI/pull/655
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-final.html
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-final.md
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-final.zip
Owners: none

Add draft 4 of HAIP
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-04.html
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-04.xml
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-04.zip
Owners: none

openid-connect-rp-metadata-choices-1_0-03
  connect/openid-connect-rp-metadata-choices-1_0-03.html
  connect/openid-connect-rp-metadata-choices-1_0-03.txt
  connect/openid-connect-rp-metadata-choices-1_0-03.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

-02
  connect/openid-provider-commands-1_0-02.html
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

-01
  connect/openid-connect-enterprise-extensions-1_0-01.html
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Add FAPI2 Message Signing Final
  fapi/fapi-message-signing-2_0-final.html
  fapi/fapi-message-signing-2_0-final.md
  fapi/fapi-message-signing-2_0-final.xml
Owners: @openid/wg-fapi-editors, @openid/secretaryandteam

fapi-message-signing-2_0-final.html fapi-message-signing-2_0-final.md fapi-message-signing-2_0-final.xml fapi-message-signing-2_0.html fapi-message-signing-2_0.md fapi-message-signing-2_0.xml
  sync/specs/fapi-message-signing-2_0-final.html
  sync/specs/fapi-message-signing-2_0-final.md
  sync/specs/fapi-message-signing-2_0-final.xml
  sync/specs/fapi-message-signing-2_0.html
  sync/specs/fapi-message-signing-2_0.md
  sync/specs/fapi-message-signing-2_0.xml
Owners: none

add md file
  connect/openid-provider-commands-1_0-02.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

add md
  connect/openid-connect-enterprise-extensions-1_0-01.md
  connect/openid-provider-commands-1_0-02.html
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-provider-commands-1_0-02.html openid-provider-commands-1_0-02.md openid-provider-commands-1_0.html openid-provider-commands-1_0.md
  sync/specs/openid-provider-commands-1_0-02.html
  sync/specs/openid-provider-commands-1_0-02.md
  sync/specs/openid-provider-commands-1_0.html
  sync/specs/openid-provider-commands-1_0.md
Owners: none

openid connect enterprise extensions 1.0 - 01
  connect/openid-connect-enterprise-extensions-1_0-01.html
  connect/openid-connect-enterprise-extensions-1_0-01.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-connect-enterprise-extensions-1_0-01.html openid-connect-enterprise-extensions-1_0-01.md openid-connect-enterprise-extensions-1_0.html openid-connect-enterprise-extensions-1_0.md
  sync/specs/openid-connect-enterprise-extensions-1_0-01.html
  sync/specs/openid-connect-enterprise-extensions-1_0-01.md
  sync/specs/openid-connect-enterprise-extensions-1_0.html
  sync/specs/openid-connect-enterprise-extensions-1_0.md
Owners: none

Add redirects from old location of FAPI2MS to new one
  sync/specs/fapi-2_0-message-signing.html
  sync/specs/fapi-2_0-message-signing.md
  sync/specs/fapi-2_0-message-signing.xml
Owners: none

draft 04 of AuthZEN API
  authzen/authorization-api-1_0-04.html
  authzen/authorization-api-1_0-04.md
  authzen/authorization-api-1_0-04.xml
  authzen/authorization-api-1_0-04.zip
Owners: @openid/wg-authzen-editors, @openid/secretaryandteam

draft 5 of HAIP
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-05.html
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-05.xml
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-05.zip
Owners: none

Add files via upload
  igov/propose/openid-igov-oauth2-1_08.html
  igov/propose/openid-igov-oauth2-1_08.txt
  igov/propose/openid-igov-oauth2-1_08.xml
Owners: none

openid-federation-1_0-44
  connect/openid-federation-1_0-44.html
  connect/openid-federation-1_0-44.txt
  connect/openid-federation-1_0-44.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_0-44.html openid-federation-1_0-44.txt openid-federation-1_0-44.xml openid-federation-1_0.html openid-federation-1_0.txt openid-federation-1_0.xml
  sync/specs/openid-federation-1_0-44.html
  sync/specs/openid-federation-1_0-44.txt
  sync/specs/openid-federation-1_0-44.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

openid-connect-native-sso-1_0-ID2
  connect/openid-connect-native-sso-1_0-ID2.html
  connect/openid-connect-native-sso-1_0-ID2.txt
  connect/openid-connect-native-sso-1_0-ID2.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

connect: publish openid-tadr-1_0-00 initial draft of OpenID Trust Anchor Distribution & Rotation (TADR) spec
  connect/examples/README.md
  connect/examples/client-fetch.py
  connect/examples/server.js
  connect/tadr-1_0.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

00 draft openid-connect-key-binding-1_0
  connect/openid-connect-key-binding-1_0-00.html
  connect/openid-connect-key-binding-1_0-00.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam
