Repository openid/publication, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openid/wg-authzen-editors, @openid/wg-abconnect-editors, @openid/wg-dcp-editors, @openid/wg-ekycida-editors, @openid/wg-fapi-editors, @openid/wg-ipsie-editors, @openid/wg-sharedsignals-editors

.github/CODEOWNERS:

/authzen/*.html   @openid/wg-authzen-editors
/authzen/*.xml   @openid/wg-authzen-editors
/authzen/*.txt   @openid/wg-authzen-editors
/authzen/*.md   @openid/wg-authzen-editors
/authzen/*.zip   @openid/wg-authzen-editors

/abconnect/*.html   @openid/wg-abconnect-editors
/abconnect/*.xml   @openid/wg-abconnect-editors
/abconnect/*.txt   @openid/wg-abconnect-editors
/abconnect/*.md   @openid/wg-abconnect-editors
/abconnect/*.zip   @openid/wg-abconnect-editors

/dcp/*.html   @openid/wg-dcp-editors
/dcp/*.xml   @openid/wg-dcp-editors
/dcp/*.txt   @openid/wg-dcp-editors
/dcp/*.md   @openid/wg-dcp-editors
/dcp/*.zip   @openid/wg-dcp-editors

/ekycida/*.html   @openid/wg-ekycida-editors
/ekycida/*.xml   @openid/wg-ekycida-editors
/ekycida/*.txt   @openid/wg-ekycida-editors
/ekycida/*.md   @openid/wg-ekycida-editors
/ekycida/*.zip   @openid/wg-ekycida-editors

/fapi/*.html   @openid/wg-fapi-editors
/fapi/*.xml   @openid/wg-fapi-editors
/fapi/*.txt   @openid/wg-fapi-editors
/fapi/*.md   @openid/wg-fapi-editors
/fapi/*.zip   @openid/wg-fapi-editors

/ipsie/*.html   @openid/wg-ipsie-editors
/ipsie/*.xml   @openid/wg-ipsie-editors
/ipsie/*.txt   @openid/wg-ipsie-editors
/ipsie/*.md   @openid/wg-ipsie-editors
/ipsie/*.zip   @openid/wg-ipsie-editors

/sharedsignals/*.html   @openid/wg-sharedsignals-editors
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors
/sharedsignals/*.md   @openid/wg-sharedsignals-editors
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors

delete fapi test files
  fapi/fapi-2_0-attacker-model.md
  fapi/fapi-2_0-security-profile.md
  fapi/fapi-attacker-model-2_0-04.xml
  fapi/fapi-attacker-model-2_0.html
  fapi/fapi-security-profile-2_0-04.xml
  fapi/fapi-security-profile-2_0.html
Owners: @openid/wg-fapi-editors

updated oidf-publish.sh
  .github/workflows/oidf-publish.yml
Owners: none

updates to gitignore
  .gitignore
Owners: none

add igov OAuth2 files
  .gitignore
  igov/openid-igov-oauth2-1_0.html
  igov/openid-igov-oauth2-1_0.txt
  igov/openid-igov-oauth2-1_0.xml
Owners: none

update igov proposal
  igov/openid-igov-oauth2-1_0-05.html
  igov/openid-igov-oauth2-1_0-05.txt
  igov/openid-igov-oauth2-1_0-05.xml
Owners: none

test: Add version of haip -03
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.html
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.xml
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.zip
  dcp/openid4vc-high-assurance-interoperability-profile-1_0.html
  dcp/openid4vc-high-assurance-interoperability-profile-1_0.xml
  dcp/openid4vc-high-assurance-interoperability-profile-1_0.zip
Owners: @openid/wg-dcp-editors

remove 1.0 versions
  dcp/openid4vc-high-assurance-interoperability-profile-1_0.html
  dcp/openid4vc-high-assurance-interoperability-profile-1_0.xml
  dcp/openid4vc-high-assurance-interoperability-profile-1_0.zip
Owners: @openid/wg-dcp-editors

attempt to fix notices section
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.html
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.xml
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.zip
Owners: @openid/wg-dcp-editors

add sec considerations
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.html
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.xml
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.zip
Owners: @openid/wg-dcp-editors

removed diagnostic "ls" from oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

add igov files
  igov/openid-igov-oauth2-1_0-03.html
  igov/openid-igov-oauth2-1_0-03.txt
  igov/openid-igov-oauth2-1_0-03.xml
  igov/openid-igov-oauth2-1_0.html
  igov/openid-igov-oauth2-1_0.txt
  igov/openid-igov-oauth2-1_0.xml
Owners: none

delete test files
  igov/openid-igov-oauth2-1_0.html
  igov/openid-igov-oauth2-1_0.txt
  igov/openid-igov-oauth2-1_0.xml
Owners: none

update workflows
  .github/workflows/oidf-publish.yml
  .github/workflows/sync.yml
Owners: none

ypdate sync.yml
  .github/workflows/sync.yml
Owners: none

updated sync.yml
  .github/workflows/sync.yml
Owners: none

update Working Group sub-directory names
  connect/README.md
  digital-credentials-protocols/README.md
  ekyc-ida/README.md
Owners: none

test add of bibxml content
  sync/bibxml/reference.OpenID.Core.xml
  sync/bibxml/reference.OpenID.Core.xml~
  sync/bibxml/reference.OpenID.Discovery.xml
  sync/bibxml/reference.OpenID.Discovery.xml~
  sync/bibxml/reference.OpenID.Registration.xml
  sync/bibxml/reference.OpenID.Registration.xml~
Owners: none

Rebuild spec now IETF status list metadata was hopefully fixed on IETF datatracker
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.html
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.zip
Owners: @openid/wg-dcp-editors

Test Update reference.OpenID.Core.xml
  sync/bibxml/reference.OpenID.Core.xml
Owners: none

added sync/bibxml/reference.OpenID.Core.xml
  sync/bibxml/reference.OpenID.Core.xml
Owners: none

to match pr in haip repo
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.html
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.xml
  dcp/openid4vc-high-assurance-interoperability-profile-1_0-03.zip
Owners: @openid/wg-dcp-editors

add ERROR-MODES.md
  .gitignore
  ERROR-MODES.md
Owners: none

Updated README.md with link to ERROR-MODES.md
  README.md
Owners: none

fixed link in README.md
  README.md
Owners: none

added attachments draft
  ekyc-ida/openid-connect-4-ida-attachments.html
  ekyc-ida/openid-connect-4-ida-attachments.md
Owners: none

updated Attachments filename
  ekyc-ida/openid-connect-4-ida-attachments-1_0-01.html
  ekyc-ida/openid-connect-4-ida-attachments-1_0-01.md
Owners: none

updated oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

updated action
  .github/workflows/oidf-publish.yml
Owners: none

updated oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update to oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update to oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update to oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update to oidf-prblish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

./openid-connect-4-ida-attachments-1_0-01.html ./openid-connect-4-ida-attachments-1_0-01.md ./openid-connect-4-ida-attachments-1_0.html ./openid-connect-4-ida-attachments-1_0.md
  to-publish/openid-connect-4-ida-attachments-1_0-01.html
  to-publish/openid-connect-4-ida-attachments-1_0-01.md
  to-publish/openid-connect-4-ida-attachments-1_0.html
  to-publish/openid-connect-4-ida-attachments-1_0.md
Owners: none

update to oidf-publish.yml
  .github/workflows/oidf-publish.yml
  to-publish/openid-connect-4-ida-attachments-1_0-01.html
  to-publish/openid-connect-4-ida-attachments-1_0-01.md
  to-publish/openid-connect-4-ida-attachments-1_0.html
  to-publish/openid-connect-4-ida-attachments-1_0.md
Owners: none

removed test files
  sync/specs/openid-connect-4-ida-attachments-.html
  sync/specs/openid-connect-4-ida-attachments-.md
  sync/specs/openid-connect-4-ida-attachments-1_0-01.html
  sync/specs/openid-connect-4-ida-attachments-1_0-01.md
  sync/specs/openid-connect-4-ida-attachments-1_0.html
  sync/specs/openid-connect-4-ida-attachments-1_0.md
Owners: none

removed test files
  ekyc-ida/openid-connect-4-ida-attachments-1_0-01.html
  ekyc-ida/openid-connect-4-ida-attachments-1_0-01.md
Owners: none

add test fapi files
  fapi/fapi-security-profile-2_0-05.html
  fapi/fapi-security-profile-2_0-05.md
  fapi/fapi-security-profile-2_0-05.xml
  fapi/fapi-security-profile-2_0-05.zip
Owners: @openid/wg-fapi-editors
