Repository openid/publication, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openid/wg-authzen-editors, @openid/wg-abconnect-editors, @openid/wg-dcp-editors, @openid/wg-ekycida-editors, @openid/wg-fapi-editors, @openid/wg-ipsie-editors, @openid/wg-sharedsignals-editors

added README.md files
  README.md
  abconnect/README.md
  authzen/README.md
  dcp/README.md
  ekycida/README.md
  fapi/README.md
  ipsie/README.md
  sharedsignals/README.md
Owners: @openid/wg-abconnect-editors, @openid/wg-authzen-editors, @openid/wg-dcp-editors, @openid/wg-ekycida-editors, @openid/wg-fapi-editors, @openid/wg-ipsie-editors, @openid/wg-sharedsignals-editors

add publication-checks workflow
  .github/workflows/publication-checks.yml
Owners: none

fixed repo path in workflow
  .github/workflows/publication-checks.yml
Owners: none

fixed paths
  .github/workflows/publication-checks.yml
Owners: none

updated publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

test files
  fapi/fapi-attacker-model-3_0-99.html
  fapi/fapi-attacker-model-3_0-99.md
  fapi/fapi-attacker-model-3_0-99.txt
  fapi/fapi-attacker-model-3_0-99.zip
Owners: @openid/wg-fapi-editors

test files
  authzen/authorization-api-1_0-01.html
  ekycida/openid-connect-4-identity-assurance-1_0-55.html
Owners: @openid/wg-authzen-editors, @openid/wg-ekycida-editors

update publication-checks
  .github/workflows/publication-checks.yml
Owners: none

updated test files
  abconnect/openid-connect-backchannel-1_0-59.html
  abconnect/openid-connect-backchannel-1_0-59.txt
  abconnect/openid-connect-backchannel-1_0-59.xml
  abconnect/openid-connect-backchannel-1_0-59.zip
  abconnect/openid-connect-core-1_0-67.html
  abconnect/openid-connect-core-1_0-67.txt
  abconnect/openid-connect-core-1_0-67.xml
  abconnect/openid-connect-core-1_0-67.zip
Owners: @openid/wg-abconnect-editors

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

remove test files
  abconnect/openid-connect-backchannel-1_0-59.html
  abconnect/openid-connect-backchannel-1_0-59.txt
  abconnect/openid-connect-backchannel-1_0-59.xml
  abconnect/openid-connect-backchannel-1_0-59.zip
  abconnect/openid-connect-core-1_0-67.html
  abconnect/openid-connect-core-1_0-67.txt
  abconnect/openid-connect-core-1_0-67.xml
  abconnect/openid-connect-core-1_0-67.zip
Owners: @openid/wg-abconnect-editors

added test files
  abconnect/openid-connect-backchannel-1_0-59.html
  abconnect/openid-connect-backchannel-1_0-59.txt
  abconnect/openid-connect-backchannel-1_0-59.xml
  abconnect/openid-connect-backchannel-1_0-59.zip
  abconnect/openid-connect-core-1_0-67.html
  abconnect/openid-connect-core-1_0-67.txt
  abconnect/openid-connect-core-1_0-67.xml
  abconnect/openid-connect-core-1_0-67.zip
Owners: @openid/wg-abconnect-editors

daignostic oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

update oidf-publish.sh
  .github/workflows/oidf-publish.yml
Owners: none

diagnostic publish.sh
  .github/workflows/oidf-publish.yml
Owners: none

update oidf-publish.sh
  .github/workflows/oidf-publish.yml
Owners: none

remove diagnostics from oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

diagnostic oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

remove diagnostic from oidf-publish.sh
  .github/workflows/oidf-publish.yml
Owners: none

delete test files
  abconnect/openid-connect-backchannel-1_0-59.html
  abconnect/openid-connect-backchannel-1_0-59.txt
  abconnect/openid-connect-backchannel-1_0-59.xml
  abconnect/openid-connect-backchannel-1_0-59.zip
  abconnect/openid-connect-core-1_0-67.html
  abconnect/openid-connect-core-1_0-67.txt
  abconnect/openid-connect-core-1_0-67.xml
  abconnect/openid-connect-core-1_0-67.zip
Owners: @openid/wg-abconnect-editors

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

add test files
  abconnect/openid-connect-backchannel-1_0-59.html
  abconnect/openid-connect-backchannel-1_0-59.txt
  abconnect/openid-connect-backchannel-1_0-59.xml
  abconnect/openid-connect-backchannel-1_0-59.zip
  abconnect/openid-connect-core-1_0-67.html
  abconnect/openid-connect-core-1_0-67.txt
  abconnect/openid-connect-core-1_0-67.xml
  abconnect/openid-connect-core-1_0-67.zip
Owners: @openid/wg-abconnect-editors

added text files
  abconnect/openid-federation-1_0-98.html
  abconnect/openid-federation-1_0-98.txt
  abconnect/openid-federation-1_0-98.xml
  abconnect/openid-federation-1_0-98.zip
Owners: @openid/wg-abconnect-editors

adding test files
  ekycida/openid-connect-4-identity-assurance-1_0-70.html
  ekycida/openid-connect-4-identity-assurance-1_0-70.zip
  ekycida/openid-connect-4-identity-insurance-1_0-71.html
  ekycida/openid-connect-4-identity-insurance-1_0-71.md
  ekycida/openid-connect-4-identity-insurance-1_0-71.txt
Owners: @openid/wg-ekycida-editors

add test files
  abconnect/openid-connect-rp-metadata-choices-1_0-00.html
  abconnect/openid-connect-rp-metadata-choices-1_0-00.txt
  abconnect/openid-connect-rp-metadata-choices-1_0-00.xml
  abconnect/openid-connect-rp-metadata-choices-1_0-00.zip
  abconnect/openid-connect-rp-metadata-voices-1_0-00.html
  abconnect/openid-connect-rp-metadata-voices-1_0-00.txt
  abconnect/openid-connect-rp-metadata-voices-1_0-00.xml
  abconnect/openid-connect-rp-metadata-voices-1_0-00.zip
Owners: @openid/wg-abconnect-editors

added test files
  abconnect/openid-connect-native-sso-1_0-07.html
  abconnect/openid-connect-native-sso-1_0-07.txt
  abconnect/openid-connect-native-sso-1_0-07.xml
Owners: @openid/wg-abconnect-editors

update to README.md
  README.md
Owners: none

update README.md
  README.md
Owners: none

update README.md
  README.md
Owners: none

proposal for authzen 1.0 version 02
  authzen/authorization-api-1_0-02.html
  authzen/authorization-api-1_0-02.md
  authzen/authorization-api-1_0-02.xml
  authzen/authorization-api-1_0-02.zip
Owners: @openid/wg-authzen-editors

updated notices
  authzen/authorization-api-1_0-02.html
  authzen/authorization-api-1_0-02.md
  authzen/authorization-api-1_0-02.xml
  authzen/authorization-api-1_0-02.zip
Owners: @openid/wg-authzen-editors

update oidf-publish.yml
  .github/workflows/oidf-publish.yml
Owners: none

added fapi test files
  fapi/fapi-2_0-attacker-model.md
  fapi/fapi-2_0-security-profile.md
  fapi/fapi-attacker-model-2_0-04.xml
  fapi/fapi-attacker-model-2_0.html
  fapi/fapi-security-profile-2_0-04.xml
  fapi/fapi-security-profile-2_0.html
Owners: @openid/wg-fapi-editors

add test files
  abconnect/openid-connect-backchannel-1_0-59.html
  abconnect/openid-connect-backchannel-1_0-59.txt
  abconnect/openid-connect-backchannel-1_0-59.xml
  abconnect/openid-connect-backchannel-1_0-59.zip
Owners: @openid/wg-abconnect-editors

add test files
  abconnect/openid-connect-core-1_0-67.html
  abconnect/openid-connect-core-1_0-67.txt
  abconnect/openid-connect-core-1_0-67.xml
  abconnect/openid-connect-core-1_0-67.zip
Owners: @openid/wg-abconnect-editors

add test files
  abconnect/openid-federation-1_0-98.html
  abconnect/openid-federation-1_0-98.txt
  abconnect/openid-federation-1_0-98.xml
  abconnect/openid-federation-1_0-98.zip
Owners: @openid/wg-abconnect-editors

.github/CODEOWNERS:

/authzen/*.html   @openid/wg-authzen-editors
/authzen/*.xml   @openid/wg-authzen-editors
/authzen/*.txt   @openid/wg-authzen-editors
/authzen/*.md   @openid/wg-authzen-editors
/authzen/*.zip   @openid/wg-authzen-editors

/abconnect/*.html   @openid/wg-abconnect-editors
/abconnect/*.xml   @openid/wg-abconnect-editors
/abconnect/*.txt   @openid/wg-abconnect-editors
/abconnect/*.md   @openid/wg-abconnect-editors
/abconnect/*.zip   @openid/wg-abconnect-editors

/dcp/*.html   @openid/wg-dcp-editors
/dcp/*.xml   @openid/wg-dcp-editors
/dcp/*.txt   @openid/wg-dcp-editors
/dcp/*.md   @openid/wg-dcp-editors
/dcp/*.zip   @openid/wg-dcp-editors

/ekycida/*.html   @openid/wg-ekycida-editors
/ekycida/*.xml   @openid/wg-ekycida-editors
/ekycida/*.txt   @openid/wg-ekycida-editors
/ekycida/*.md   @openid/wg-ekycida-editors
/ekycida/*.zip   @openid/wg-ekycida-editors

/fapi/*.html   @openid/wg-fapi-editors
/fapi/*.xml   @openid/wg-fapi-editors
/fapi/*.txt   @openid/wg-fapi-editors
/fapi/*.md   @openid/wg-fapi-editors
/fapi/*.zip   @openid/wg-fapi-editors

/ipsie/*.html   @openid/wg-ipsie-editors
/ipsie/*.xml   @openid/wg-ipsie-editors
/ipsie/*.txt   @openid/wg-ipsie-editors
/ipsie/*.md   @openid/wg-ipsie-editors
/ipsie/*.zip   @openid/wg-ipsie-editors

/sharedsignals/*.html   @openid/wg-sharedsignals-editors
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors
/sharedsignals/*.md   @openid/wg-sharedsignals-editors
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors
