Repository openid/publication, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openid/wg-authzen-editors, @openid/secretaryandteam, @openid/wg-abconnect-editors, @openid/wg-dcp-editors, @openid/wg-ekycida-editors, @openid/wg-fapi-editors, @openid/wg-ipsie-editors, @openid/wg-sharedsignals-editors, @openid/wg-igov-editors

openid-connect-rp-metadata-choices-1_0-04
  connect/openid-connect-rp-metadata-choices-1_0-04.html
  connect/openid-connect-rp-metadata-choices-1_0-04.txt
  connect/openid-connect-rp-metadata-choices-1_0-04.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-subordinate-events-1_0-00
  connect/openid-federation-subordinate-events-1_0-00.html
  connect/openid-federation-subordinate-events-1_0-00.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-subordinate-events-1_0-00.html openid-federation-subordinate-events-1_0-00.md openid-federation-subordinate-events-1_0.html openid-federation-subordinate-events-1_0.md
  sync/specs/openid-federation-subordinate-events-1_0-00.html
  sync/specs/openid-federation-subordinate-events-1_0-00.md
  sync/specs/openid-federation-subordinate-events-1_0.html
  sync/specs/openid-federation-subordinate-events-1_0.md
Owners: none

openid-federation-1_1-00
  connect/openid-federation-1_1-00.html
  connect/openid-federation-1_1-00.txt
  connect/openid-federation-1_1-00.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

final specification
  authzen/authorization-api-1_0-06.html
  authzen/authorization-api-1_0-06.md
  authzen/authorization-api-1_0-06.xml
  authzen/authorization-api-1_0-06.zip
Owners: @openid/wg-authzen-editors, @openid/secretaryandteam

openid-connect-federation-1_1-00
  connect/openid-connect-federation-1_1-00.html
  connect/openid-connect-federation-1_1-00.txt
  connect/openid-connect-federation-1_1-00.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

renamed files to authorization-api-1_0-final.*
  authzen/authorization-api-1_0-final.html
  authzen/authorization-api-1_0-final.md
  authzen/authorization-api-1_0-final.xml
  authzen/authorization-api-1_0-final.zip
Owners: @openid/wg-authzen-editors, @openid/secretaryandteam

openid-federation-1_1-00.html openid-federation-1_1-00.txt openid-federation-1_1-00.xml openid-federation-1_1.html openid-federation-1_1.txt openid-federation-1_1.xml
  sync/specs/openid-federation-1_1-00.html
  sync/specs/openid-federation-1_1-00.txt
  sync/specs/openid-federation-1_1-00.xml
  sync/specs/openid-federation-1_1.html
  sync/specs/openid-federation-1_1.txt
  sync/specs/openid-federation-1_1.xml
Owners: none

openid-federation-1_0-47
  connect/openid-federation-1_0-47.html
  connect/openid-federation-1_0-47.txt
  connect/openid-federation-1_0-47.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_1-01
  connect/openid-federation-1_1-01.html
  connect/openid-federation-1_1-01.txt
  connect/openid-federation-1_1-01.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-connect-1_1-01
  connect/openid-federation-connect-1_1-01.html
  connect/openid-federation-connect-1_1-01.txt
  connect/openid-federation-connect-1_1-01.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-wallet-1_0-04
  connect/openid-federation-wallet-1_0-04.html
  connect/openid-federation-wallet-1_0-04.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_0-47.html openid-federation-1_0-47.txt openid-federation-1_0-47.xml openid-federation-1_0.html openid-federation-1_0.txt openid-federation-1_0.xml
  sync/specs/openid-federation-1_0-47.html
  sync/specs/openid-federation-1_0-47.txt
  sync/specs/openid-federation-1_0-47.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

openid-federation-1_1-01.html openid-federation-1_1-01.txt openid-federation-1_1-01.xml openid-federation-1_1.html openid-federation-1_1.txt openid-federation-1_1.xml
  sync/specs/openid-federation-1_1-01.html
  sync/specs/openid-federation-1_1-01.txt
  sync/specs/openid-federation-1_1-01.xml
  sync/specs/openid-federation-1_1.html
  sync/specs/openid-federation-1_1.txt
  sync/specs/openid-federation-1_1.xml
Owners: none

openid-federation-wallet-1_0-04.html openid-federation-wallet-1_0-04.md openid-federation-wallet-1_0.html openid-federation-wallet-1_0.md
  sync/specs/openid-federation-wallet-1_0-04.html
  sync/specs/openid-federation-wallet-1_0-04.md
  sync/specs/openid-federation-wallet-1_0.html
  sync/specs/openid-federation-wallet-1_0.md
Owners: none

Remove openid-connect-native-sso-1_0-.* and openid-connect-rp-metadata-choices-1_0-.*
  sync/specs/openid-connect-native-sso-1_0-.html
  sync/specs/openid-connect-native-sso-1_0-.txt
  sync/specs/openid-connect-native-sso-1_0-.xml
  sync/specs/openid-connect-rp-metadata-choices-1_0-.html
  sync/specs/openid-connect-rp-metadata-choices-1_0-.txt
  sync/specs/openid-connect-rp-metadata-choices-1_0-.xml
Owners: none

openid-connect-federation-1_1 renamed to openid-federation-connect-1_1
  sync/specs/openid-connect-federation-1_1.html
  sync/specs/openid-connect-federation-1_1.txt
  sync/specs/openid-connect-federation-1_1.xml
Owners: none

Add missing break between bullets in History section in openid-federation-1_0-47
  sync/specs/openid-federation-1_0-47.html
  sync/specs/openid-federation-1_0-47.txt
  sync/specs/openid-federation-1_0-47.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

openid-federation-1_0-48
  connect/openid-federation-1_0-48.html
  connect/openid-federation-1_0-48.txt
  connect/openid-federation-1_0-48.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_1-02
  connect/openid-federation-1_1-02.html
  connect/openid-federation-1_1-02.txt
  connect/openid-federation-1_1-02.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-connect-1_1-02
  connect/openid-federation-connect-1_1-02.html
  connect/openid-federation-connect-1_1-02.txt
  connect/openid-federation-connect-1_1-02.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_0-48.html openid-federation-1_0-48.txt openid-federation-1_0-48.xml openid-federation-1_0.html openid-federation-1_0.txt openid-federation-1_0.xml
  sync/specs/openid-federation-1_0-48.html
  sync/specs/openid-federation-1_0-48.txt
  sync/specs/openid-federation-1_0-48.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

openid-federation-1_1-02.html openid-federation-1_1-02.txt openid-federation-1_1-02.xml openid-federation-1_1.html openid-federation-1_1.txt openid-federation-1_1.xml
  sync/specs/openid-federation-1_1-02.html
  sync/specs/openid-federation-1_1-02.txt
  sync/specs/openid-federation-1_1-02.xml
  sync/specs/openid-federation-1_1.html
  sync/specs/openid-federation-1_1.txt
  sync/specs/openid-federation-1_1.xml
Owners: none

Added iGov OAuth 2.0 profile draft 09 files under proposed for specifications
  igov/openid-igov-oauth2-1_0-09.html
  igov/openid-igov-oauth2-1_0-09.txt
  igov/openid-igov-oauth2-1_0-09.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

openid-igov-oauth2-1_0-09.html openid-igov-oauth2-1_0-09.txt openid-igov-oauth2-1_0-09.xml openid-igov-oauth2-1_0.html openid-igov-oauth2-1_0.txt openid-igov-oauth2-1_0.xml
  sync/specs/openid-igov-oauth2-1_0-09.html
  sync/specs/openid-igov-oauth2-1_0-09.txt
  sync/specs/openid-igov-oauth2-1_0-09.xml
  sync/specs/openid-igov-oauth2-1_0.html
  sync/specs/openid-igov-oauth2-1_0.txt
  sync/specs/openid-igov-oauth2-1_0.xml
Owners: none

openid-federation-1_0-49
  connect/openid-federation-1_0-49.html
  connect/openid-federation-1_0-49.txt
  connect/openid-federation-1_0-49.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_1-03
  connect/openid-federation-1_1-03.html
  connect/openid-federation-1_1-03.txt
  connect/openid-federation-1_1-03.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-connect-1_1-03
  connect/openid-federation-connect-1_1-03.html
  connect/openid-federation-connect-1_1-03.txt
  connect/openid-federation-connect-1_1-03.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-wallet-1_0-05
  connect/openid-federation-wallet-1_0-05.html
  connect/openid-federation-wallet-1_0-05.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Add Security Considerations
  connect/openid-federation-wallet-1_0-05.html
  connect/openid-federation-wallet-1_0-05.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-wallet-1_0-05.html openid-federation-wallet-1_0-05.md openid-federation-wallet-1_0.html openid-federation-wallet-1_0.md
  sync/specs/openid-federation-wallet-1_0-05.html
  sync/specs/openid-federation-wallet-1_0-05.md
  sync/specs/openid-federation-wallet-1_0.html
  sync/specs/openid-federation-wallet-1_0.md
Owners: none

openid-federation-1_1-03.html openid-federation-1_1-03.txt openid-federation-1_1-03.xml openid-federation-1_1.html openid-federation-1_1.txt openid-federation-1_1.xml
  sync/specs/openid-federation-1_1-03.html
  sync/specs/openid-federation-1_1-03.txt
  sync/specs/openid-federation-1_1-03.xml
  sync/specs/openid-federation-1_1.html
  sync/specs/openid-federation-1_1.txt
  sync/specs/openid-federation-1_1.xml
Owners: none

openid-federation-1_0-49.html openid-federation-1_0-49.txt openid-federation-1_0-49.xml openid-federation-1_0.html openid-federation-1_0.txt openid-federation-1_0.xml
  sync/specs/openid-federation-1_0-49.html
  sync/specs/openid-federation-1_0-49.txt
  sync/specs/openid-federation-1_0-49.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

openid-federation-1_0-final
  connect/openid-federation-1_0-final.html
  connect/openid-federation-1_0-final.txt
  connect/openid-federation-1_0-final.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_1-04
  connect/openid-federation-1_1-04.html
  connect/openid-federation-1_1-04.txt
  connect/openid-federation-1_1-04.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-connect-1_1-04
  connect/openid-federation-connect-1_1-04.html
  connect/openid-federation-connect-1_1-04.txt
  connect/openid-federation-connect-1_1-04.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_0-final.html openid-federation-1_0-final.txt openid-federation-1_0-final.xml openid-federation-1_0.html openid-federation-1_0.txt openid-federation-1_0.xml
  sync/specs/openid-federation-1_0-final.html
  sync/specs/openid-federation-1_0-final.txt
  sync/specs/openid-federation-1_0-final.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

openid-federation-1_1-04.html openid-federation-1_1-04.txt openid-federation-1_1-04.xml openid-federation-1_1.html openid-federation-1_1.txt openid-federation-1_1.xml
  sync/specs/openid-federation-1_1-04.html
  sync/specs/openid-federation-1_1-04.txt
  sync/specs/openid-federation-1_1-04.xml
  sync/specs/openid-federation-1_1.html
  sync/specs/openid-federation-1_1.txt
  sync/specs/openid-federation-1_1.xml
Owners: none

Update bibxml files publish date to 2018-12-13 21:36
  sync/bibxml/reference.OpenID.Core.xml
  sync/bibxml/reference.OpenID.Core.xml~
  sync/bibxml/reference.OpenID.Discovery.xml
  sync/bibxml/reference.OpenID.Discovery.xml~
  sync/bibxml/reference.OpenID.Registration.xml
  sync/bibxml/reference.OpenID.Registration.xml~
Owners: none

update file verified_claims-11.json with publishing date as 2020-07-06 16:30
  sync/schemas/verified_claims-11.json
Owners: none

.github/CODEOWNERS:

/authzen/*.html   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.xml   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.txt   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.md   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.zip   @openid/wg-authzen-editors @openid/secretaryandteam

/connect/*.html   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.xml   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.txt   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.md   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.zip   @openid/wg-abconnect-editors @openid/secretaryandteam

/dcp/*.html   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.xml   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.txt   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.md   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.zip   @openid/wg-dcp-editors @openid/secretaryandteam

/ekycida/*.html   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.xml   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.txt   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.md   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.zip   @openid/wg-ekycida-editors @openid/secretaryandteam

/fapi/*.html   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.xml   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.txt   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.md   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.zip   @openid/wg-fapi-editors @openid/secretaryandteam

/ipsie/*.html   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.xml   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.txt   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.md   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.zip   @openid/wg-ipsie-editors @openid/secretaryandteam

/sharedsignals/*.html   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.md   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors @openid/secretaryandteam

/igov/*.html   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.xml   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.txt   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.md   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.zip   @openid/wg-igov-editors @openid/secretaryandteam
