Repository openid/publication, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openid/wg-authzen-editors, @openid/secretaryandteam, @openid/wg-abconnect-editors, @openid/wg-dcp-editors, @openid/wg-ekycida-editors, @openid/wg-fapi-editors, @openid/wg-ipsie-editors, @openid/wg-sharedsignals-editors, @openid/wg-igov-editors

.github/CODEOWNERS:

/authzen/*.html   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.xml   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.txt   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.md   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.zip   @openid/wg-authzen-editors @openid/secretaryandteam

/connect/*.html   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.xml   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.txt   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.md   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.zip   @openid/wg-abconnect-editors @openid/secretaryandteam

/dcp/*.html   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.xml   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.txt   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.md   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.zip   @openid/wg-dcp-editors @openid/secretaryandteam

/ekycida/*.html   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.xml   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.txt   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.md   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.zip   @openid/wg-ekycida-editors @openid/secretaryandteam

/fapi/*.html   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.xml   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.txt   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.md   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.zip   @openid/wg-fapi-editors @openid/secretaryandteam

/ipsie/*.html   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.xml   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.txt   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.md   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.zip   @openid/wg-ipsie-editors @openid/secretaryandteam

/sharedsignals/*.html   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.md   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors @openid/secretaryandteam

/igov/*.html   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.xml   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.txt   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.md   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.zip   @openid/wg-igov-editors @openid/secretaryandteam

-01
  connect/openid-provider-commands-1_0-01.html
  connect/openid-provider-commands-1_0-01.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-provider-commands-1_0-01.html openid-provider-commands-1_0-01.md openid-provider-commands-1_0.html openid-provider-commands-1_0.md
  sync/specs/openid-provider-commands-1_0-01.html
  sync/specs/openid-provider-commands-1_0-01.md
  sync/specs/openid-provider-commands-1_0.html
  sync/specs/openid-provider-commands-1_0.md
Owners: none

Second attempt at JARM, now with errata in the title
  fapi/oauth-v2-jarm-05.html
  fapi/oauth-v2-jarm-05.md
  fapi/oauth-v2-jarm-05.xml
Owners: @openid/wg-fapi-editors, @openid/secretaryandteam

Manually update jarm specs
  sync/specs/oauth-v2-jarm-05.html
  sync/specs/oauth-v2-jarm-05.md
  sync/specs/oauth-v2-jarm-05.xml
Owners: none

trial commit - do not review
  sharedsignals/openid-caep-1_0.html
  sharedsignals/openid-caep-1_0.txt
  sharedsignals/openid-risc-1_0.html
  sharedsignals/openid-risc-1_0.txt
  sharedsignals/openid-sharedsignals-framework-1_0.html
  sharedsignals/openid-sharedsignals-framework-1_0.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

fixed file names
  sharedsignals/openid-caep-1_0-12.html
  sharedsignals/openid-caep-1_0-12.txt
  sharedsignals/openid-risc-1_0-04.html
  sharedsignals/openid-risc-1_0-04.txt
  sharedsignals/openid-sharedsignals-framework-1_0-23.html
  sharedsignals/openid-sharedsignals-framework-1_0-23.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

updated notice, date and draft numbers
  sharedsignals/openid-caep-1_0-13.html
  sharedsignals/openid-caep-1_0-13.md
  sharedsignals/openid-caep-1_0-13.txt
  sharedsignals/openid-risc-1_0-05.html
  sharedsignals/openid-risc-1_0-05.txt
  sharedsignals/openid-risc-1_0-05.xml
  sharedsignals/openid-sharedsignals-framework-1_0-24.html
  sharedsignals/openid-sharedsignals-framework-1_0-24.md
  sharedsignals/openid-sharedsignals-framework-1_0-24.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

fixed issues with previous commit
  sharedsignals/openid-caep-1_0-13.html
  sharedsignals/openid-caep-1_0-13.md
  sharedsignals/openid-caep-1_0-13.txt
  sharedsignals/openid-risc-1_0-05.html
  sharedsignals/openid-risc-1_0-05.txt
  sharedsignals/openid-risc-1_0-05.xml
  sharedsignals/openid-sharedsignals-framework-1_0-24.html
  sharedsignals/openid-sharedsignals-framework-1_0-24.md
  sharedsignals/openid-sharedsignals-framework-1_0-24.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

add attachments-02
  ekyc-ida/openid-connect-4-ida-attachments-1_0-02.html
  ekyc-ida/openid-connect-4-ida-attachments-1_0-02.md
  ekyc-ida/openid-connect-4-ida-attachments-1_0-02.xml
Owners: none

updates to links in RISC spec
  sharedsignals/openid-risc-1_0-05.html
  sharedsignals/openid-risc-1_0-05.txt
  sharedsignals/openid-risc-1_0-05.xml
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

fixed updated links in RISC spec
  sharedsignals/openid-risc-1_0-05.html
  sharedsignals/openid-risc-1_0-05.txt
  sharedsignals/openid-risc-1_0-05.xml
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

openid-federation-1_0-43
  connect/openid-federation-1_0-43.html
  connect/openid-federation-1_0-43.txt
  connect/openid-federation-1_0-43.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Remove files from first attempt at openid-federation-1_0-43
  connect/openid-federation-1_0-43.html
  connect/openid-federation-1_0-43.txt
  connect/openid-federation-1_0-43.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_0-43
  connect/openid-federation-1_0-43.html
  connect/openid-federation-1_0-43.txt
  connect/openid-federation-1_0-43.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_0-43.html openid-federation-1_0-43.txt openid-federation-1_0-43.xml openid-federation-1_0.html openid-federation-1_0.txt openid-federation-1_0.xml
  sync/specs/openid-federation-1_0-43.html
  sync/specs/openid-federation-1_0-43.txt
  sync/specs/openid-federation-1_0-43.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

Added final version 1.0 of CAEP, RISC, and SharedSignals specs for review by OpenID
  sharedsignals/openid-caep-1_0.html
  sharedsignals/openid-caep-1_0.md
  sharedsignals/openid-caep-1_0.txt
  sharedsignals/openid-caep-1_0.xml
  sharedsignals/openid-risc-1_0.html
  sharedsignals/openid-risc-1_0.txt
  sharedsignals/openid-risc-1_0.xml
  sharedsignals/openid-sharedsignals-framework-1_0.html
  sharedsignals/openid-sharedsignals-framework-1_0.md
  sharedsignals/openid-sharedsignals-framework-1_0.txt
  sharedsignals/openid-sharedsignals-framework-1_0.xml
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

CAEP draft 4, RISC draft 2, and Shared Signals Framework draft 4
  sharedsignals/openid-caep-1_0.html
  sharedsignals/openid-caep-1_0.md
  sharedsignals/openid-caep-1_0.txt
  sharedsignals/openid-risc-1_0.html
  sharedsignals/openid-risc-1_0.txt
  sharedsignals/openid-risc-1_0.xml
  sharedsignals/openid-sharedsignals-framework-1_0.html
  sharedsignals/openid-sharedsignals-framework-1_0.md
  sharedsignals/openid-sharedsignals-framework-1_0.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

openid-claims-aggregation v3
  connect/openid-connect-claims-aggregation-1_0-03.html
  connect/openid-connect-claims-aggregation-1_0-03.md
  connect/openid-connect-claims-aggregation-1_0-03.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Added draft numbers to file names
  sharedsignals/openid-caep-1_0-04.html
  sharedsignals/openid-caep-1_0-04.md
  sharedsignals/openid-caep-1_0-04.txt
  sharedsignals/openid-risc-1_0-02.html
  sharedsignals/openid-risc-1_0-02.txt
  sharedsignals/openid-risc-1_0-02.xml
  sharedsignals/openid-sharedsignals-framework-1_0-04.html
  sharedsignals/openid-sharedsignals-framework-1_0-04.md
  sharedsignals/openid-sharedsignals-framework-1_0-04.txt
Owners: @openid/wg-sharedsignals-editors, @openid/secretaryandteam

openid-claims-aggregation v3
  connect/openid-connect-claims-aggregation-1_0-03.html
  connect/openid-connect-claims-aggregation-1_0-03.md
  connect/openid-connect-claims-aggregation-1_0-03.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Draft 29 of OID4VP
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-29.html
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-29.md
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-29.zip
Owners: none

New version with fixed ISO link
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-29.html
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-29.md
  digital-credentials-protocols/openid-4-verifiable-presentations-1_0-29.zip
Owners: none

initial adopted draft
  connect/openid-connect-enterprise-extensions-1_0-01.html
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

add md file
  connect/openid-connect-enterprise-extensions-1_0.md
  connect/openid-provider-commands-1_0-01.html
  connect/openid-provider-commands-1_0-01.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

fix version
  connect/openid-connect-enterprise-extensions-1_0-00.html
  connect/openid-connect-enterprise-extensions-1_0-00.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

rerun action
  connect/openid-connect-enterprise-extensions-1_0-00.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

adopted draft openid-connect-enterprise-extensions
  connect/openid-connect-enterprise-extensions-1_0-00.html
  connect/openid-connect-enterprise-extensions-1_0-00.md
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-connect-enterprise-extensions-1_0-00.html openid-connect-enterprise-extensions-1_0-00.md openid-connect-enterprise-extensions-1_0.html openid-connect-enterprise-extensions-1_0.md
  sync/specs/openid-connect-enterprise-extensions-1_0-00.html
  sync/specs/openid-connect-enterprise-extensions-1_0-00.md
  sync/specs/openid-connect-enterprise-extensions-1_0.html
  sync/specs/openid-connect-enterprise-extensions-1_0.md
Owners: none

openid-connect-eap-acr-values-1_0-final
  connect/openid-connect-eap-acr-values-1_0-final.html
  connect/openid-connect-eap-acr-values-1_0-final.txt
  connect/openid-connect-eap-acr-values-1_0-final.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

manual fix for openid-connect-eap-acr-values final publication
  sync/specs/openid-connect-eap-acr-values-1_0-fi-final.html
  sync/specs/openid-connect-eap-acr-values-1_0-fi-final.txt
  sync/specs/openid-connect-eap-acr-values-1_0-fi-final.xml
  sync/specs/openid-connect-eap-acr-values-1_0-fi.html
  sync/specs/openid-connect-eap-acr-values-1_0-fi.txt
  sync/specs/openid-connect-eap-acr-values-1_0-fi.xml
  sync/specs/openid-connect-eap-acr-values-1_0.html
  sync/specs/openid-connect-eap-acr-values-1_0.txt
  sync/specs/openid-connect-eap-acr-values-1_0.xml
Owners: none

add attachments-final
  ekyc-ida/openid-connect-4-ida-attachments-1_0-02.xml
  ekyc-ida/openid-connect-4-ida-attachments.html
Owners: none

fix attachments-final filenames
  ekyc-ida/openid-connect-4-ida-attachments-1_0-final.html
  ekyc-ida/openid-connect-4-ida-attachments-1_0-final.xml
Owners: none

further updates to attachments final
  ekyc-ida/openid-connect-4-ida-attachments-1_0-final.html
  openid-connect-4-ida-attachments.md
Owners: none

moved the md to the right place
  ekyc-ida/openid-connect-4-ida-attachments-1_0-final.md
Owners: none

openid-connect-ephemeral-subject-identifier-1_0-00
  connect/openid-connect-ephemeral-subject-identifier-1_0-00.html
  connect/openid-connect-ephemeral-subject-identifier-1_0-00.md
  connect/openid-connect-ephemeral-subject-identifier-1_0-00.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

added 7 example json files embedded in spec
  ekyc-ida/openid-connect-4-ida-attachments-1_0-final.zip
Owners: none

Update attachments-1.0 files to contain the 'final' version
  sync/specs/openid-connect-4-ida-attachments-1_0-fi-final.html
  sync/specs/openid-connect-4-ida-attachments-1_0-fi-final.md
  sync/specs/openid-connect-4-ida-attachments-1_0-fi-final.xml
  sync/specs/openid-connect-4-ida-attachments-1_0-fi.html
  sync/specs/openid-connect-4-ida-attachments-1_0-fi.md
  sync/specs/openid-connect-4-ida-attachments-1_0-fi.xml
  sync/specs/openid-connect-4-ida-attachments-1_0-fi.zip
  sync/specs/openid-connect-4-ida-attachments-1_0.html
  sync/specs/openid-connect-4-ida-attachments-1_0.md
  sync/specs/openid-connect-4-ida-attachments-1_0.xml
  sync/specs/openid-connect-4-ida-attachments-1_0.zip
Owners: none

OID4VCI draft 16
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-16.html
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-16.md
  digital-credentials-protocols/openid-4-verifiable-credential-issuance-1_0-16.zip
Owners: none

Fix PR closing race condition
  .github/workflows/oidf-publish.yml
Owners: none

openid-connect-rp-metadata-choices-1_0-ID1
  connect/openid-connect-rp-metadata-choices-1_0-ID1.html
  connect/openid-connect-rp-metadata-choices-1_0-ID1.txt
  connect/openid-connect-rp-metadata-choices-1_0-ID1.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam
