Repository openid/publication, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openid/wg-authzen-editors, @openid/secretaryandteam, @openid/wg-abconnect-editors, @openid/wg-dcp-editors, @openid/wg-ekycida-editors, @openid/wg-fapi-editors, @openid/wg-ipsie-editors, @openid/wg-sharedsignals-editors, @openid/wg-igov-editors

Add files via upload
  igov/openid-igov-oauth2-1_05.html
  igov/openid-igov-oauth2-1_05.txt
  igov/openid-igov-oauth2-1_05.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Add files via upload
  igov/openid-igov-oauth2-06.html
  igov/openid-igov-oauth2-06.txt
  igov/openid-igov-oauth2-06.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Add files via upload
  igov/openid-igov-oauth2-1_0.html
  igov/openid-igov-oauth2-1_0.txt
  igov/openid-igov-oauth2-1_0.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Add files via upload
  igov/openid-igov-oauth2-1_07.html
  igov/openid-igov-oauth2-1_07.txt
  igov/openid-igov-oauth2-1_07.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Delete igov/openid-igov-oauth2-1_0.html
  igov/openid-igov-oauth2-1_0.html
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Delete igov/openid-igov-oauth2-1_0.xml
  igov/openid-igov-oauth2-1_0.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Delete igov/openid-igov-oauth2-1_0.txt
  igov/openid-igov-oauth2-1_0.txt
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Add files via upload
  igov/openid-igov-oauth2-1_08.html
  igov/openid-igov-oauth2-1_08.txt
  igov/openid-igov-oauth2-1_08.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

openid-connect-key-binding-1_0-00.html openid-connect-key-binding-1_0-00.md openid-connect-key-binding-1_0.html openid-connect-key-binding-1_0.md
  sync/specs/openid-connect-key-binding-1_0-00.html
  sync/specs/openid-connect-key-binding-1_0-00.md
  sync/specs/openid-connect-key-binding-1_0.html
  sync/specs/openid-connect-key-binding-1_0.md
Owners: none

Rename openid-igov-oauth2-1_05.html to openid-igov-oauth2-1_0_05.html
  igov/openid-igov-oauth2-1_0_05.html
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Update and rename openid-igov-oauth2-1_05.xml to openid-igov-oauth2-1_0_05.xml
  igov/openid-igov-oauth2-1_0_05.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-1_05.txt to openid-igov-oauth2-1_0_05.txt
  igov/openid-igov-oauth2-1_0_05.txt
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-06.html to openid-igov-oauth2-1_0-06.html
  igov/openid-igov-oauth2-1_0-06.html
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-1_0_05.html to openid-igov-oauth2-1_0-05.html
  igov/openid-igov-oauth2-1_0-05.html
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-1_0_05.txt to openid-igov-oauth2-1_0-05.txt
  igov/openid-igov-oauth2-1_0-05.txt
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Update and rename openid-igov-oauth2-1_0_05.xml to openid-igov-oauth2-1_0-05.xml
  igov/openid-igov-oauth2-1_0-05.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-06.xml to openid-igov-oauth2-1_0-06.xml
  igov/openid-igov-oauth2-1_0-06.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-06.txt to openid-igov-oauth2-1_0-06.txt
  igov/openid-igov-oauth2-1_0-06.txt
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-1_07.html to openid-igov-oauth2-1_0-07.html
  igov/openid-igov-oauth2-1_0-07.html
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-1_07.txt to openid-igov-oauth2-1_0-07.txt
  igov/openid-igov-oauth2-1_0-07.txt
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Update and rename openid-igov-oauth2-1_07.xml to openid-igov-oauth2-1_0-07.xml
  igov/openid-igov-oauth2-1_0-07.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-1_08.html to openid-igov-oauth2-1_0-08.html
  igov/openid-igov-oauth2-1_0-08.html
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Rename openid-igov-oauth2-1_08.txt to openid-igov-oauth2-1_0-08.txt
  igov/openid-igov-oauth2-1_0-08.txt
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

Update and rename openid-igov-oauth2-1_08.xml to openid-igov-oauth2-1_0-08.xml
  igov/openid-igov-oauth2-1_0-08.xml
Owners: @openid/wg-igov-editors, @openid/secretaryandteam

openid-igov-oauth2-1_0-05.html openid-igov-oauth2-1_0-05.txt openid-igov-oauth2-1_0-05.xml openid-igov-oauth2-1_0.html openid-igov-oauth2-1_0.txt openid-igov-oauth2-1_0.xml
  sync/specs/openid-igov-oauth2-1_0-05.html
  sync/specs/openid-igov-oauth2-1_0-05.txt
  sync/specs/openid-igov-oauth2-1_0-05.xml
  sync/specs/openid-igov-oauth2-1_0.html
  sync/specs/openid-igov-oauth2-1_0.txt
  sync/specs/openid-igov-oauth2-1_0.xml
Owners: none

Include a merge strategy to fix conflicts
  .github/workflows/oidf-publish.yml
Owners: none

purge cache when oidf website is updated
  .github/workflows/oidf-publish.yml
Owners: none

openid-igov-oauth2-1_0-06.html openid-igov-oauth2-1_0-06.txt openid-igov-oauth2-1_0-06.xml openid-igov-oauth2-1_0.html openid-igov-oauth2-1_0.txt openid-igov-oauth2-1_0.xml
  sync/specs/openid-igov-oauth2-1_0-06.html
  sync/specs/openid-igov-oauth2-1_0-06.txt
  sync/specs/openid-igov-oauth2-1_0-06.xml
  sync/specs/openid-igov-oauth2-1_0.html
  sync/specs/openid-igov-oauth2-1_0.txt
  sync/specs/openid-igov-oauth2-1_0.xml
Owners: none

openid-igov-oauth2-1_0-07.html openid-igov-oauth2-1_0-07.txt openid-igov-oauth2-1_0-07.xml openid-igov-oauth2-1_0.html openid-igov-oauth2-1_0.txt openid-igov-oauth2-1_0.xml
  sync/specs/openid-igov-oauth2-1_0-07.html
  sync/specs/openid-igov-oauth2-1_0-07.txt
  sync/specs/openid-igov-oauth2-1_0-07.xml
  sync/specs/openid-igov-oauth2-1_0.html
  sync/specs/openid-igov-oauth2-1_0.txt
  sync/specs/openid-igov-oauth2-1_0.xml
Owners: none

openid-igov-oauth2-1_0-08.html openid-igov-oauth2-1_0-08.txt openid-igov-oauth2-1_0-08.xml openid-igov-oauth2-1_0.html openid-igov-oauth2-1_0.txt openid-igov-oauth2-1_0.xml
  sync/specs/openid-igov-oauth2-1_0-08.html
  sync/specs/openid-igov-oauth2-1_0-08.txt
  sync/specs/openid-igov-oauth2-1_0-08.xml
  sync/specs/openid-igov-oauth2-1_0.html
  sync/specs/openid-igov-oauth2-1_0.txt
  sync/specs/openid-igov-oauth2-1_0.xml
Owners: none

authorization api draft 04 minor non-semantic updates
  authzen/authorization-api-1_0-04.html
  authzen/authorization-api-1_0-04.md
  authzen/authorization-api-1_0-04.xml
  authzen/authorization-api-1_0-04.zip
Owners: @openid/wg-authzen-editors, @openid/secretaryandteam

draft 05 - AuthZEN 1.0 Final Specification
  authzen/authorization-api-1_0-05.html
  authzen/authorization-api-1_0-05.md
  authzen/authorization-api-1_0-05.xml
  authzen/authorization-api-1_0-05.zip
Owners: @openid/wg-authzen-editors, @openid/secretaryandteam

openid-federation-1_0-45
  connect/openid-federation-1_0-45.html
  connect/openid-federation-1_0-45.txt
  connect/openid-federation-1_0-45.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

Add draft 6 of HAIP
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-06.html
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-06.xml
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-06.zip
Owners: none

openid-federation-1_0-45.html openid-federation-1_0-45.txt openid-federation-1_0-45.xml openid-federation-1_0.html openid-federation-1_0.txt openid-federation-1_0.xml
  sync/specs/openid-federation-1_0-45.html
  sync/specs/openid-federation-1_0-45.txt
  sync/specs/openid-federation-1_0-45.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

Add ephemeral subject identifier spec v1.0-01
  connect/openid-connect-ephemeral-subject-identifier-1_0-01.html
  connect/openid-connect-ephemeral-subject-identifier-1_0-01.md
  connect/openid-connect-ephemeral-subject-identifier-1_0-01.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_0-46
  connect/openid-federation-1_0-46.html
  connect/openid-federation-1_0-46.txt
  connect/openid-federation-1_0-46.xml
Owners: @openid/wg-abconnect-editors, @openid/secretaryandteam

openid-federation-1_0-46.html openid-federation-1_0-46.txt openid-federation-1_0-46.xml openid-federation-1_0.html openid-federation-1_0.txt openid-federation-1_0.xml
  sync/specs/openid-federation-1_0-46.html
  sync/specs/openid-federation-1_0-46.txt
  sync/specs/openid-federation-1_0-46.xml
  sync/specs/openid-federation-1_0.html
  sync/specs/openid-federation-1_0.txt
  sync/specs/openid-federation-1_0.xml
Owners: none

HAIP 1.0 Final
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-07.html
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-07.xml
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-07.zip
Owners: none

Manual change to add 'Status: Final'
  digital-credentials-protocols/openid4vc-high-assurance-interoperability-profile-1_0-07.html
Owners: none

.github/CODEOWNERS:

/authzen/*.html   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.xml   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.txt   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.md   @openid/wg-authzen-editors @openid/secretaryandteam
/authzen/*.zip   @openid/wg-authzen-editors @openid/secretaryandteam

/connect/*.html   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.xml   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.txt   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.md   @openid/wg-abconnect-editors @openid/secretaryandteam
/connect/*.zip   @openid/wg-abconnect-editors @openid/secretaryandteam

/dcp/*.html   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.xml   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.txt   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.md   @openid/wg-dcp-editors @openid/secretaryandteam
/dcp/*.zip   @openid/wg-dcp-editors @openid/secretaryandteam

/ekycida/*.html   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.xml   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.txt   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.md   @openid/wg-ekycida-editors @openid/secretaryandteam
/ekycida/*.zip   @openid/wg-ekycida-editors @openid/secretaryandteam

/fapi/*.html   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.xml   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.txt   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.md   @openid/wg-fapi-editors @openid/secretaryandteam
/fapi/*.zip   @openid/wg-fapi-editors @openid/secretaryandteam

/ipsie/*.html   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.xml   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.txt   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.md   @openid/wg-ipsie-editors @openid/secretaryandteam
/ipsie/*.zip   @openid/wg-ipsie-editors @openid/secretaryandteam

/sharedsignals/*.html   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.xml   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.txt   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.md   @openid/wg-sharedsignals-editors @openid/secretaryandteam
/sharedsignals/*.zip   @openid/wg-sharedsignals-editors @openid/secretaryandteam

/igov/*.html   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.xml   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.txt   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.md   @openid/wg-igov-editors @openid/secretaryandteam
/igov/*.zip   @openid/wg-igov-editors @openid/secretaryandteam
